 :root{
    --color-white: rgb(255 255 255);
    --color-black: rgb(0 0 0);
    --color-violet-light: rgb(208, 192, 243);
    --color-violet: rgb(185, 129, 243);
    --color-green:rgb(210, 224, 79);
    --color-dark: rgb(100, 90, 74);
 } 